.map-view{
    top:4.5%;
    right:0px;
    border: none;
    height:96%;
    width:100%;
    position: fixed;
    z-index: -1;
}
.loader-container{
    top: 50%;
    left: 50%;
    position: fixed;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.logo{
    height: 50px;
    padding: 5px 20px 5px 10px;
    image-rendering: pixelated;
}
.app-title{
    font-size: x-large;
}

